circle{
	stroke:#777;
}
.node{
	cursor: pointer;;
}
/*status 0*/
circle .susceptible{
	fill:#00E5EE;
}
/*status 1*/
circle .mention{
	fill:#7FFF00;
}
/*status 2*/
circle .retweet{
	fill:#FF0000;
}
/*status 4*/
circle .infected{
	fill:#FF0000;
}
.new{
	stroke:#BCEE68;
	fill:#00E5EE;
}

.axis path,
.axis line {
fill: none;
stroke: black;
stroke-width:3;
shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}
.lineS{
	fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}
.lineI{
	fill: none;
  stroke: red;
  stroke-width: 3px;
}
.lineR{
	fill: none;
  stroke: green;
  stroke-width: 3px;
}
.tooltips{
	width:200px;
	height:50px;
	position:fixed;
	right:0px;
	top:0px;
}